*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-bg);
    color:beige;

}
.home{
    padding-top: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.home-main {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
