*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    color:beige;

}
.home{
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
