.random-synopsis {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 28svh;
}

.random-synopsis p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}
@media (min-height: 780px) {
    .random-synopsis p {
        -webkit-line-clamp: 8;
    }
}
@media (min-height: 900px) {
    .random-synopsis p {
        -webkit-line-clamp: 10;
    }
}