:root {
  --color-bg: #1B343C;
  --color-surface: #E7E48A;
  --color-surface-sofh: #591E12;
  --color-button: #591E12;
  --color-button-back: #79211F;
  --color-blue:

}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  min-height: 100%;
}
body{
  background-color: var(--color-bg);
  color: whitesmoke;
  font-family: s;
}
button, input {
  font: inherit;
}
a {
  color: inherit;
}